#mainSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    @media only screen and (min-width: $rruc-desktop) {
        display: flex;
        flex-direction: column;
    }

    .content-body {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin-top: 1px;
        .children {
            width: 100%;
            max-width: 1200px;
            max-height: calc(100vh - 10%);
            background-color: $neutral-050;
            overflow: auto;
            & > div:first-child {
                margin: 24px;
                @media only screen and (min-width: $rruc-desktop) {
                    margin: 48px;
                }
            }
        }
    }

    #RRUCSideBar {
        .manage-profile {
            .btn-text {
                min-width: 0;
            }
        }
    }
}
