/* Fonts */
$inter-black: '.Inter-Black';
$inter-bold: '.Inter-Bold';
$inter-extra-bold: '.Inter-ExtraBold';
$inter-extra-light: '.Inter-ExtraLight';
$inter-light: '.Inter-Light';
$inter-medium: '.Inter-Medium';
$inter-regular: '.Inter-Regular';
$inter-semi-bold: '.Inter-SemiBold';
$inter-thin: '.Inter-Thin';
/* Fonts End */

$rruc-desktop: 480px;
